
body {
  background-color: midnightblue;
font-family: 'Italiana', serif;

  }



h1 {
  font-size: 60px;
  color: lightskyblue;
  text-align: center;
  letter-spacing: 0.3em;
}

h2 {
  font-size: 24px;
  color: powderblue;
  text-align: justify; 
letter-spacing: 0.05em;
}





