body {
  background-color: white;
  font-family: 'Italiana', serif;
}

</style>
</head>
<body>

h1 {
  font-size: 100px;
  color: black;
  text-align: center;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 40px;
  color: black;
  text-align: center;
  letter-spacing: 0.2em;
}

img {
display: block;
place-items: center;
margin-left: auto;
margin-right: auto;
}

h3 {
  font-size: 40px;
  color: black;
  text-align: center;
  letter-spacing: 0.2em;
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */

