
body {
  background-color: midnightblue;
  font-family: <Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}


</style>
</head>
<body>


h1 {
  font-size: 80px;
  color: powderblue;
  text-align: center;
}

h2 {
  font-size: 80px;
  color: powderblue;
  text-align: center;
}


h3 {
  font-size: 150px;
  color: midnightblue;
  text-align: center
}

h3:hover {
  background-color:powderblue ;
  font-size: 150px;
  color: midnightblue;
  text-align: center
}
