@media only screen and (max-width: 600px) {
body {
overflow: hidden;
  background-color: darkblue;
  font-family: 'Italiana', serif;
}


p {
  font-size: 30px;
  color: white;
  text-align: center;
  letter-spacing: 0.1em;
  }

a:link {
  font-size: 34px;
  color: red;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration: none;
  }

a:hover {
  color: red;
  text-decoration: underline;
  }

  a:visited {
  text-decoration: none;
  }

  a:active {
  text-decoration: none;
  }








