
body {
  background-color:  #FF7272;
  font-family:  monospace;
  padding: 50px;
}

h1  {
  text-align: center;
}

h2  {
  text-align: center;
}


/* If the browser window is smaller than 650px, the background color will change to black and the text to white: */
@media (max-width: 650px) {
  body {
    background-color: black;
    color:  white;
  }
}

h1  {
  text-align: center;
}

h2  {
  text-align: center;
}

/* If the browser window is shorter than 650px, the background will turn orange */
@media (max-height: 650px) {
  body {
    background-color: orange;
  }

h1  {
  text-align: center;
}

h2  {
  text-align: center;
}