
body {
  background-color: midnightblue;
  font-family: 'Italiana', serif;
  letter-spacing: 0.05em;
  }


h1 {
  font-size: 20px;
  color: powderblue;
	text-align: center
}

p {
  font-size: 14px;
  color: powderblue;
	text-align: center
}

