body {
  background: rgb(0,258,2122);
  background: linear-gradient(90deg, rgba(0,254,218,1) 0%, rgba(0,91,218,1) 46%, rgba(119,205,203,1) 100%);
  color:  white;
  font-family: arial;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blob {
      position: absolute;
      width: 500px;
      height: 500px;
      background: midnightblue;
      border-radius: 100%;
      mix-blend-mode: color-dodge;
}

h1 {
  background: rgb(0,258,2122);
  background: linear-gradient(90deg, rgba(0,254,218,1) 0%, rgba(0,91,218,1) 46%, rgba(119,205,203,1) 100%);
  color:  midnightblue;
  font-family: fantasy;
  text-align: center;
}

h2 {
  font-size: 150px;
  color: linear-gradient(90deg, rgba(0,254,218,1) 0%, rgba(0,91,218,1) 46%, rgba(119,205,203,1) 100%);
  font-family: fantasy;
  text-align: center;
}

h2:hover {
  font-size: 150px;
  color: midnightblue;
  font-family: fantasy;
  text-align: center;
}