
body {
  background-color: midnightblue;
  font-family: 'Italiana', serif;
}

h1 {
  font-size: 70px;
  color: lightskyblue;
  text-align: center
}

h2 {
  font-size: 15px;
  color: powderblue;
  text-align: center
}

div {
  font-size: 30px;
  color: powderblue;
  text-align: center
}