
body {
  background-color: lavender;
}

div {
  width: 500px;
  height: 200px;
}

.relative {
  background-color: yellow;
  position: relative;
}

.static {
  background-color: blue;
  position: static;
}

.fixed {
  background-color: purple;
  position: fixed;
  top: 10;
  bottom: 5;

}

.absolute {
  background-color: green;
  position: absolute;
}

.sticky {
  background-color: red;
  position: sticky;
}